<!doctype html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
        <script src="../js/credits.js"></script>
        <script src="../js/header.js"></script>
        <script src="../js/plinko.js"></script>
        <title>Créditos Adolf 365</title>
    </head>
    <body>
        <section id="header-placeholder" class="h-[80px] bg-[#262B1B] px-5"></section>
        <section class="h-responsive pt-11 pb-15 bg-[#262B1B] grid-cols-1">
            <div class="mx-10 mb-10 pl-10 text-[50px] text-[#5AED68] font-bold">
                <p>Añadir Créditos:</p>
                <div id="mensaje-credito" class="mx-10 mb-10 pl-10 text-[20px] text-[#5AED68] font-semibold"></div>
            </div>
            <div class="mx-10 mb-10 pl-10 text-[#5AED78] bg-[#4D5738] md:flex gap-3 md:items-center h-responsive rounded-[20px]">
                <div class="max-md:pb-8">
                    <h2 class="text-[35px] font-bold">Pack 10€</h2>
                    <p class="text-[20px] font-semibold mr-10">
                        Obtén 100 créditos para disfrutar de tus juegos favoritos.
                    </p>
                    <a href="#" onclick="añadirCreditos(100); return false;" class="bg-[#5AED78] hover:bg-[#4fd168] transform hover:scale-105 transition duration-300 rounded-[20px] font-bold text-[25px] text-white p-4 mt-3 mb-4 inline-flex gap-3 items-center">
                        Comprar 100 Créditos
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <rect x="2" y="4" width="20" height="16" rx="2"/>
                            <path d="M7 15h0M2 9.5h20"/>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="mx-10 mb-10 pl-10 text-[#5AED78] bg-[#4D5738] md:flex gap-3 md:items-center h-responsive rounded-[20px]">
                <div class="max-md:pb-8">
                    <h2 class="text-[35px] font-bold">Pack 50€</h2>
                    <p class="text-[20px] font-semibold mr-10">
                        Aumenta tu saldo con 500 créditos para jugar más tiempo y ganar más.
                    </p>
                    <a href="#" onclick="añadirCreditos(500); return false;" class="bg-[#5AED78] hover:bg-[#4fd168] transform hover:scale-105 transition duration-300 rounded-[20px] font-bold text-[25px] text-white p-4 mt-3 mb-4 inline-flex gap-3 items-center">
                        Comprar 500 Créditos
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <rect x="2" y="4" width="20" height="16" rx="2"/>
                            <path d="M7 15h0M2 9.5h20"/>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="mx-10 mb-10 pl-10 text-[#5AED78] bg-[#4D5738] md:flex gap-3 md:items-center h-responsive rounded-[20px]">
                <div class="max-md:pb-8">
                    <h2 class="text-[35px] font-bold">Pack 100€</h2>
                    <p class="text-[20px] font-semibold mr-10">
                        Lleva tu experiencia al siguiente nivel con 1000 créditos.
                    </p>
                    <a href="#" onclick="añadirCreditos(1000); return false;" class="bg-[#5AED78] hover:bg-[#4fd168] transform hover:scale-105 transition duration-300 rounded-[20px] font-bold text-[25px] text-white p-4 mt-3 mb-4 inline-flex gap-3 items-center">
                        Comprar 1000 Créditos
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <rect x="2" y="4" width="20" height="16" rx="2"/>
                            <path d="M7 15h0M2 9.5h20"/>
                        </svg>
                    </a>
                </div>
            </div>
        </section>
    </body>
</html>