<!doctype html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
        <script src="../js/credits.js"></script>
        <script src="../js/header.js"></script>
        <title>Casino Adolf 365</title>
    </head>
    <body>
        <section id="header-placeholder" class="h-[80px] bg-[#262B1B] px-5"></section>
        <section class="h-screen pt-11 pb-1 bg-[#262B1B] grid-cols-1">
            <div class="mx-10 mb-10 pl-10 text-[50px] text-[#5AED68] font-bold">
                <p>Juegos:</p>
            </div>
            <div class="mx-10 mb-10 pl-10 text-[#5AED78] bg-[#4D5738] md:flex gap-3 md:items-center h-responsive rounded-[20px]">
                <div class="m-10 ml-1 h-40 w-60 flex-shrink-0">
                    <img src="../resources/img/plinko.png" alt="Plinko" class="h-full w-full object-contain">
                </div>
                <div class="max-md:pb-8">
                    <a href="plinko.html" class="text-[35px] font-bold">
                        Plinko:
                    </a>
                    <p class="text-[20px] font-semibold mr-10">
                        Sumérgete en la emoción de Plinko, el clásico juego de azar reinventado para tu casino online favorito. Deja caer la ficha desde la parte superior y observa cómo rebota entre los clavos mientras desciende hacia las casillas con premios variados.
                    </p>
                    <a href="plinko.html" class="bg-[#5AED78] hover:bg-[#4fd168] transform hover:scale-105 transition duration-300 rounded-[20px] font-bold text-[25px] text-white p-4 mt-3 mb-4 inline-flex gap-3 items-center">
                        Jugar ya
                    </a>
                </div>
            </div>
            <div class="mx-10 mb-10 pl-10 text-[#5AED78] bg-[#4D5738] md:flex gap-3 md:items-center h-responsive rounded-[20px]">
                <div class="m-10 ml-1 h-40 w-60 flex-shrink-0">
                    <img src="../resources/img/mines.png" alt="Mines" class="h-full w-full object-contain">
                </div>
                <div class="max-md:pb-8">
                    <a href="mines.html" class="text-[35px] font-bold">
                        Minas:
                    </p>
                    <p class="text-[20px] font-semibold">
                        Atrévete a poner a prueba tu intuición en Mines, un emocionante juego de campo minado donde cada decisión puede hacer crecer tu premio… o hacerlo explotar. Elige casillas en un tablero oculto: si encuentras un diamante, tu apuesta se multiplica y puedes seguir jugando para aumentar tus ganancias. Pero cuidado, si pisas una mina, ¡lo pierdes todo!
                    </p>
                    <a href="mines.html" class="bg-[#5AED78] hover:bg-[#4fd168] transform hover:scale-105 transition duration-300 rounded-[20px] font-bold text-[25px] text-white p-4 mt-3 mb-4 inline-flex gap-3 items-center">
                        Jugar ya
                    </a>
                </div>
            </div>
        </section>
    </body>
</html>