<section class="h-[80px] bg-[#262B1B] px-5">
    <div class="flex items-center justify-between h-[80px]">
        <div class="flex items-center space-x-4">
            <img src="../resources/img/logo.jpg" alt="Logo" class="w-[50px] h-[50px] rounded-full">
            <span class="text-[16px] text-[#5AED68] font-bold">Adolf 365</span>
        </div>
        <div class="flex items-center space-x-8 md:mr-5">
            <div class="bg-[#2E5A2F] rounded-[15px] p-2 flex space-x-3 items-center">
                <p class="text-white">Créditos:</p>
                <a href="credits.html" class="text-[#5AED68]" id="resultado"></a>
            </div>
            <nav class="max-sm:hidden flex space-x-15 font-medium items-center">
                <a href="../index.html" class="text-[#5AED68]">Home</a>
                <a href="games.html" class="text-[#5AED68]">Juegos</a>
                <a href="credits.html" class="text-[#5AED68]">Añadir Creditos</a>
            </nav>
        </div>
    </div>
</section>